.container {
  background-image: linear-gradient(#1313134f, #000000db), url(/fundo.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;

}
